

/** Arrumando BANNER da sessão de ESTATÍSTICAS */
.stat-facts{
	background: url('/futebol/images/stat/banner-estatisticas.jpg') no-repeat center center;
	-webkit-background-size: cover; 
	-moz-background-size: cover; 
	-o-background-size: cover; 
	background-size: cover;
}

/** Arrumando BANNER da sessão de VÍDEO */
.bg-section {
    background: url('/futebol/images/video/banner-video.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/** Arrumando BANNER da sessão de CLIENTES */
.bg-client {
    background: url('/futebol/images/client/banner-client.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.tab-team-bg{
	background: url('/futebol/images/team/banner-estatisticas-jogadores.jpg') top center;
	-webkit-background-size: cover; 
	-moz-background-size: cover; 
	-o-background-size: cover; 
	background-size: cover;
}

.ytmVideoCoverThumbnail {
    background-image: url('/futebol/images/video/banner-video.jpg');
}



.carousel-inner .item {
    background-position: center center;
    background-repeat: no-repeat;
}   